.main-container {
  background: lightblue;
  position: absolute;
  height: 100%;
  width: 100%;
}

.align-right {
  text-align: right;
}

.horizontal-separator {
  height: 46px;
}

.main-container-wrapper {
  position: relative;
}

.button-bar-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.neighbour-buttons {
  display: flex;
  justify-content: space-around;
}

.neighbour-buttons > * {
  margin: 0 4px;
}

.sidebar-nav {
  background: darkcyan;
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
  padding: 16px;
  z-index: 2;
}

.main-content {
  padding: 40px;
  width: calc(100% - 200px);
  height: 100%;
  margin-left: 200px;
  overflow-y: scroll;
}