.db-design {
  display: flex;
  height: 100%;
  color: white;
  font-weight: bold;
  flex-direction: column;
}

a {
  color: lightcoral;
}

a:hover {
  color: red;
}

.erd-diagram {
  height: 100%;
  width: 100%;
}

.erd-diagram-wrapper {
  margin: 0 auto;
  position: relative;
  height: 1px;
  width: 100%;
  flex-grow: 1;
}

h2 {
  font-family: Courier New, Courier, monospace;
  color: white;
  text-align: center;
}

.dbproj .background {
  background: linear-gradient(rgba(23, 34, 45, 0.6), rgba(23, 34, 45, 0.9));
}