.db-design {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.erd-diagram {
  height: 100%;
  width: 100%;
}

.erd-diagram-wrapper {
  margin: 0 auto;
  position: relative;
  height: 1px;
  width: 100%;
  flex-grow: 1;
}

.dbproj .background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(PowderBlue ), to(lightgreen));
  background-image: -webkit-linear-gradient(top, PowderBlue , lightgreen);
  background-image: -moz-linear-gradient(top, PowderBlue , lightgreen);
  background-image: linear-gradient(to bottom, PowderBlue , lightgreen);;
}