
.menu-navigator {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.main {
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.contents-main-wrapper {
  height: calc(100% - 54px);
  width: 100%;
  margin-top: 54px;
  overflow-y: scroll;
}

.contents-main {
  max-width: 940px;
  margin: 0 auto;

}

.content-page {
  padding: 60px;
}
