
.menu-navigator {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.main {
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.contents-main-wrapper {
  height: calc(100% - 54px);
  width: 100%;
  margin-top: 54px;
  overflow-y: scroll;
}

.contents-main {

}

.content-page-wrapper {
  position: relative;
  overflow: hidden;
}

#main .background {
}

#main .content-page {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
}

h1 {
  margin: 33px;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
}
